.fade-in {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .flex-row {
  display: flex;
} */

.left-side {
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
}

.right-side {
  background: linear-gradient(to left, #3572EF, rgba(53, 114, 239, 0));
}
